@layer farmui.components {
  .fui-Stack-root {
    display: flex;
    flex-direction: column;
    gap: var(--_gap, var(--fui-space-md));
    align-items: var(--_align, stretch);
    justify-content: var(--_justify, flex-start);
  }
}
