@scope (.fui-Container-root) {
  :scope {
    inline-size: 100%;
    max-inline-size: var(--_size, 71.25rem);
    margin-inline: auto;
    padding-inline: var(--_px, var(--fui-space-lg));
  }

  :scope[data-fluid] {
    max-inline-size: none;
  }
}
